* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  min-height: 100vh;
  background-color: rgb(63, 124, 150);
  display: flex;
  justify-content: center;
  align-items: center;
}

.qr-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  padding: 18px;
  width: 100%;
  max-width: 540px;
  background-color: rgb(208, 179, 137);
  border-radius: 20px;
  color: rgb(19, 31, 91);
}
.qr-container input {
  padding: 8px 48px;
  outline: none;
  border: none;
  border-radius: 12px;
}
.qr-container .generate {
  padding: 8px 28px;
  outline: none;
  border: none;
  border-radius: 12px;
  background-color: rgb(19, 31, 91);
  color: white;
  cursor: pointer;
}

.error {
  animation: shake 0.1s linear 10;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-2px);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(2px);
  }
  100% {
    transform: translateX(0);
  }
}
